@import "tailwindcss";

@theme {
  --color-primary: #a17346;
  --color-secondary: #d4b499;
  --color-tertiary: #fdf5f0;
  --color-neutral: #2C2C2C;
  --color-brand-brown: #a17346;
  --color-background: #fdf5f0;

  --font-sans: var(--font-manrope);
  --font-serif: var(--font-noto-serif);
}

body {
  background: var(--color-background);
  color: var(--color-neutral);
}