@import "tailwindcss";

@theme {
  --color-primary: #5F6F52;
  --color-secondary: #A68E6B;
  --color-tertiary: #E2D9C8;
  --color-neutral: #2C2C2C;
  --color-background: #F9F8F6;

  --font-sans: var(--font-manrope);
  --font-serif: var(--font-noto-serif);
}

body {
  background: var(--color-background);
  color: var(--color-neutral);
}
